#banner {
    height:90vh;
background: url(leee.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;

}

.btn {
    padding: 15px 30px;
    transition: all 0.4s ease;
    font-weight: 700;
    font-size: 18px;
    border-radius: 20px;
    letter-spacing: 2px;
}

.btn-brand {
    background-color: transparent;
    border: 2px solid rgb(77, 185, 185);
    color: rgb(59, 181, 202);
}

.btn-brand:hover {
    background-color: rgb(245, 245, 220);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 107, 121);
}
section {
    padding: 100px 0;

}
#about h2 {
    font-size: 55px;
    font-weight: 900;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(162, 255, 250);
}
#about .btn-brand:hover{
    color: rgb(4, 93, 121) !important;
    border-color: hsl(194, 94%, 25%) !important;
    background-color: bisque;
}
#about {
    background-color:beige;
}
.bisag-unsa{
    width:40%;
}
#services .btn-brand:hover {
    color: rgb(75, 75, 73) !important;
    border-color: rgb(69, 155, 167) !important;
}
.card{
    transition: background-color 0.3s, color 0.3s;
    border: 5px solid var(--border);
    border-radius: 30px;
}
.card:hoover {
    background-color: black;
}
.card:hoover .card-title,
.card:hoover .card-text,
.card:hoover.btn{
    color: rgb(240, 152, 70);
}
#services h2 {
    font-size: 55px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(162, 255, 250);
}
#services{
    background-color: bisque;
}

#cta {
    height:70vh ;
background: url(teee.jpg);
background-size: cover;
background-position:top;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

}
#reviews{
    background-color: beige;
}
.testimonials img {
    width: 200px;
    background-color: beige;
}
.testimonials{
    border: 2px solid rgb(89, 181, 204);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}
#faq{
    background-color:bisque;
}
.faq-section{
    max-width: 800px;
    margin: auto;

}
.accordion-item{
    margin-bottom: 20px;
    border-radius: 0 !important;

}
.accordion-button{
    background-color: rgb(121, 121, 121);
    border: none;
    border-bottom: 1px solid rgb(105, 105, 105);
    border-radius: 0 !important;
    padding: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: backgroun-color 0.3s, color 0.3s;

}
.accordion-body{
    border-left: 3px solid rgb(226, 209, 151);
    padding: 10px 15px;
    margin-left: 0;
    background-color: bisque;
}
.accordion-button:not(.collapsed){
    background-color: rgb(226, 215, 167);
    color: antiquewhite;
}
.accordion-button:hover{
    background-color: rgb(221, 194, 145);
    color: bisque;
}